/* styles.css */

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    color: #bb86fc;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #e0e0e0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bb86fc;
    color: #121212;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #9a67ea;
}

#progressBarContainer {
    width: 100%;
    height: 30px;
    background-color: #3a3a3a;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: #9a67ea;
}

#progressInfo {
    padding: 5px;
    text-align: center;
}
